.nav-item{
    font-weight: bold;
    font-size: xx-large;
}
.nav-item{
    color: #03052e;
}
#contact-info{
    background-color: #010217;
    color: whitesmoke;
}
.jumbotron{
    background-color: #011c08;
   background: url("../Images/robert-tudor-BydNJ_dOVYg-unsplash.jpg");
   background-size: cover;
   padding: 24px;
   height: 100vh;
   position: relative;
    
}

.jumbotron h1{
    color: whitesmoke;
    size: 4in;
}
.jumbotron, .lead{
    color: whitesmoke;
}
.jumbotron p{
    color: whitesmoke;
}

.card-img-top{
    height: 300px;
    width: auto;
}

.card-img-top2{
    height: 300px;
}

