.nav-item{
    font-weight: bold;
    font-size: xx-large;
}

.jumbotron{
    background-color: black;
   
    
}

.jumbotron h1{
    color: whitesmoke;
}
.jumbotron, .lead{
    color: whitesmoke;
}
.jumbotron p{
    color: whitesmoke;
}